# Site
repository: aszos/resume
favicon: images/favicon.ico

# Content configuration version
version: 2

# Personal info
name: Alexander Szostek
title: Cloud Engineer
email: aszostek.dev@gmail.com
website: https://aszos.github.io/resume/

# Dark Mode (true/false/never)
darkmode: true

# Social links
twitter_username: facespics
github_username:  aszos
# stackoverflow_username: "00000001"
# dribbble_username: jekyll
# facebook_username: jekyll
# flickr_username: jekyll
# instagram_username: jameswgrant
# linkedin_username: jameswgrant
# xing_username: jekyll
# pinterest_username: jekyll
# youtube_username: globalmtb
# googleplus_username: +jekyll
# orcid_username: 0000-0000-0000-0000

# Additional icon links
additional_links:
- title: itsgoingto.be
  icon: fas fa-globe
  url: https://www.itsgoingto.be
# - title: another link
#   icon: font awesome brand icon name (eg. fab fa-twitter) (https://fontawesome.com/icons?d=gallery&m=free)
#   url: Link url (eg. https://google.com)

# Google Analytics and Tag Manager
# Using more than one of these may cause issues with reporting
# gtm: "GTM-0000000"
# gtag: "UA-00000000-0"
# google_analytics: "UA-00000000-0"

# About Section
# about_title: About Me
about_profile_image: images/profile.jpg
about_content: | # this will include new lines to allow paragraphs
  Hi, my name's Alex and I'm a Cloud Engineer. 

  I am most skilled in: <mark>AWS</mark>

content:
  - title: Projects # Title for the section
    layout: list # Type of content section (list/text)
    content:
      
  - title: Experience # Title for the section
    layout: list # Type of content section (list/text)
    content:
      
  - title: Education # Title for the section
    layout: list # Type of content section (list/text)
    content:
			- layout: left
        title: University of Delaware
        caption: 2013 - 2017
        sub_title: BSc Computer Science
        quote: >
          UD is nationally ranked, with award-winning faculty, a beautiful, vibrant campus, and opportunities to change the world in campus labs and classrooms, or through internship and study abroad programs around the globe.

        description: | # this will include new lines to allow paragraphs
          During my time at UD, I learnt most of my key skills that have I have taken through my career such as teamwork and working to tight deadlines. I thouroughly enjoyed my time as university and learnt a lot about a healthy work life balance. You can find some of the projects I worked on at UD [here.](https://github.com/aszos/SchoolWork)


      
  - title: A Little More About Me
    layout: text
    content: | # this will include new lines to allow paragraphs
      Alongside my interests in cloud technologies and software engineering some of my other interests and hobbies are:
      - Magic: The Gathering
      - Snowboarding & Skiing
      - Cooking
      - Video Gaming

# Footer
footer_show_references: true
# references_title: References on request (Override references text)

# Build settings
remote_theme: sproogen/resume-theme

sass:
  sass_dir: _sass
  style: compressed

plugins:
 - jekyll-seo-tag
